.main-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    height: 14rem;
    background-color: rgb(5, 5, 5);
    line-height: 14px;
    :hover{
        transform: scale(1.1);
    }
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-div{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin-left: 8px;
    border-radius: 12px;
    border: 1px solid white;
    box-shadow: 0 1px 8px 10px rgb(238, 237, 237);
    :hover{
        transform: scale3d(1,2,3);
        cursor: pointer;

    }
}
.phone{
    display: flex;
    justify-content: center;
    align-items: center;
}
